body{
    &.play__video{
        header{
            opacity: 0;
            visibility: hidden;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
        .slider__wrapper{
            .slide__nav{
                opacity: 0;
                visibility: hidden;
            }
            .more__posts{
                opacity: 0;
                visibility: hidden;
            }
        }
    }
}
.stop__icon{
    width: 42px;
    height: 42px;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 25px;
    z-index: 20;
    cursor: pointer;
    .close{
        width: 32px;
        height: 32px;
        display: block;
        // background-color: $yellow;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
        &::before{
            content: '';
            display: block;
            width: 1px;
            height: 20px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
        }
        &::after{
            content: '';
            display: block;
            width: 1px;
            height: 20px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%) rotate(-45deg);
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
    .border__top {
        width: 100%;
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;
        &::before{
            content: '';
            width: 15px;
            height: 15px;
            border-top: 2px solid $yellow;
            border-left: 2px solid $yellow;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            animation: top-left-square .5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
        &::after{
            content: '';
            width: 15px;
            height: 15px;
            border-top: 2px solid $yellow;
            border-right: 2px solid $yellow;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            animation: top-right-square .5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
    }
    .border__bottom {
        width: 100%;
        height: 15px;
        position: absolute;
        bottom: 0;
        left: 0;
        &::before{
            content: '';
            width: 15px;
            height: 15px;
            border-bottom: 2px solid $yellow;
            border-left: 2px solid $yellow;
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            animation: bottom-left-square .5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
        &::after{
            content: '';
            width: 15px;
            height: 15px;
            border-bottom: 2px solid $yellow;
            border-right: 2px solid $yellow;
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            animation: bottom-right-square .5s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
    }
}
.slider__wrapper{
    width: 100%;
    height: 100vh;
    min-height: 550px;
    float: left;
    position: relative;
    .slide__nav{
        position: absolute;
        top: 50%;
        width: 36px;
        height: 34px;
        background: #FFBF37;
        z-index: 1;
        cursor: pointer;
        margin-top: -47px;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        .icon{
            width: 7px;
            height: 13px;
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
            -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
        }
        .border__top{
            width: 100%;
            height: 10px;
            position: absolute;
            top: -4px;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
            &::before{
                content: '';
                width: 10px;
                height: 10px;
                border-top: 1px solid $yellow;
                border-left: 1px solid $yellow;
                position: absolute;
                top: 0;
                left: -4px;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
            }
            &::after{
                content: '';
                width: 10px;
                height: 10px;
                border-top: 1px solid $yellow;
                border-right: 1px solid $yellow;
                position: absolute;
                top: 0;
                right: -4px;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
            }
        }
        .border__bottom{
            width: 100%;
            height: 10px;
            position: absolute;
            bottom: -4px;
            &::before{
                content: '';
                width: 10px;
                height: 10px;
                border-bottom: 1px solid $yellow;
                border-left: 1px solid $yellow;
                position: absolute;
                bottom: 0;
                left: -4px;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
            }
            &::after{
                content: '';
                width: 10px;
                height: 10px;
                border-bottom: 1px solid $yellow;
                border-right: 1px solid $yellow;
                position: absolute;
                bottom: 0;
                right: -4px;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
            }
        }
        &.prev__slide{
            left: 13px;
            .icon{
                background-image: url(../images/prev_slide.svg);
            }
            &:active{
                width: 30px;
                height: 28px;
                left: 16px;
                margin-top: -44px;
                .border__top{
                    &::before{
                        left: -7px;
                        top: -3px;
                    }
                    &::after{
                        top: -3px;
                        right: -7px;
                    }
                }
                .border__bottom{
                    &::before{
                        left: -7px;
                        bottom: -3px;
                    }
                    &::after{
                        bottom: -3px;
                        right: -7px;
                    }
                }
                .icon{
                    -webkit-transform: translate(-50%, -50%) scale(0.8);
                            transform: translate(-50%, -50%) scale(0.8);
                }
            }
        }
        &.next__slide{
            right: 13px;
            .icon{
                background-image: url(../images/next_slide.svg);
            }
            &:active{
                width: 30px;
                height: 28px;
                right: 16px;
                margin-top: -44px;
                .border__top{
                    &::before{
                        left: -7px;
                        top: -3px;
                    }
                    &::after{
                        top: -3px;
                        right: -7px;
                    }
                }
                .border__bottom{
                    &::before{
                        left: -7px;
                        bottom: -3px;
                    }
                    &::after{
                        bottom: -3px;
                        right: -7px;
                    }
                }
                .icon{
                    -webkit-transform: translate(-50%, -50%) scale(0.8);
                            transform: translate(-50%, -50%) scale(0.8);
                }
            }
        }
    }
}
.more__posts{
    position: absolute;
    bottom: 60px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    .text{
        margin-bottom: 70px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        color: #FFFFFF;
    }
    .icon{
        width: 8px;
        height: 29px;
        display: block;
        background-image: url(../images/blog_arrow.svg);
        position: absolute;
        left: 50%;
        bottom: -14px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}
.blog__slider {
    width: 100%;
    float: left;
    .slide{
        min-height: 550px;
        height: calc(100vh - 30px);
        position: relative;
    }
    .wrapper {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 30px;
    }
    .video__block{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        &.show__video{
            z-index: 11;
        }
        iframe{
            width: 100%;
            height: 100%;
        }
    }
    .video {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        .play__icon {
            width: 68px;
            height: 68px;
            border-radius: 50%;
            background-color: #FFBF37;
            display: block;
            position: absolute;
            right: 30%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            cursor: pointer;
            &::before {
                content: '';
                width: 24px;
                height: 24px;
                display: block;
                position: absolute;
                left: 54%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                background-image: url(../images/play_btn.svg);
                background-position: center;
                background-repeat: no-repeat;
                z-index: 10;
            }
            &:hover{
                animation: pulse 2s infinite;
            }
        }
    }
    .content {
        width: 45%;
        max-width: 720px;
        position: absolute;
        bottom: 50px;
        left: 70px;
        z-index: 10;
        h2 {
            font-weight: 600;
            line-height: normal;
            font-size: 36px;
            color: #FFFFFF;
        }
        p {
            font-style: normal;
            font-weight: 300;
            line-height: 27px;
            font-size: 18px;
            color: #FFFFFF;
        }
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 191, 55, 0.8);
    }
    70% {
        -webkit-box-shadow: 0 0 0 25px rgba(255, 191, 55, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(255, 191, 55, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 191, 55, 0.8);
        box-shadow: 0 0 0 0 rgba(255, 191, 55, 0.8);
    }
    70% {
        -moz-box-shadow: 0 0 0 25px rgba(255, 191, 55, 0);
        box-shadow: 0 0 0 25px rgba(255, 191, 55, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(255, 191, 55, 0);
        box-shadow: 0 0 0 0 rgba(255, 191, 55, 0);
    }
}
.blog__wrapper{
    width: 100%;
    float: left;
    margin: 0 0 80px;
    &.blog__load{
        display: none;
    }
    .nav__row{
        width: 100%;
        float: left;
        margin: 18px 0 5px;
        .dropdown__nav{
            margin-top: 10px;
            margin-right: 50px;
            margin-bottom: 8px;
            position: relative;
            .title{
                float: left;
                cursor: pointer;
                .text{
                    font-weight: normal;
                    line-height: normal;
                    font-size: 16px;
                    text-transform: uppercase;
                    color: $black;
                    display: block;
                    margin-right: 20px;
                    float: left;
                }
                .icon{
                    width: 10px;
                    height: 10px;
                    display: block;
                    background-image: url(../images/triangle.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    float: left;
                    margin-top: 4px;
                }
            }
            ul{
                width: 200px;
                max-width: 200px;
                background-color: #fff;
                margin: 0;
                padding: 10px 0;
                list-style: none;
                opacity: 0;
                visibility: hidden;
                position: absolute;
                top: 100%;
                left: -15px;
                -webkit-transform: translateY(15px);
                transform: translateY(15px);
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                z-index: 2;
                box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
                li{
                    width: 100%;
                    float: left;
                    a{
                        width: 100%;
                        padding: 4px 10px 4px 15px;
                        font-size: 14px;
                        display: block;
                        color: $black;
                        text-transform: uppercase;
                        &:hover{
                            color: $yellow;
                            text-decoration: none;
                        }
                    }
                }
            }
            &:hover ul{
                opacity: 1;
                visibility: visible;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
    }
    .search__block{
        width: 100%;
        max-width: 457px;
        .search__field{
            width: 100%;
            float: left;
            position: relative;
            .icon{
                width: 16px;
                height: 16px;
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                background-image: url(../images/search_icon.svg);
            }
            input{
                width: 100%;
                float: left;
                padding: 7px 0 6px 26px;
            }
        }
    }
}
.posts__list{
    width: 100%;
    float: left;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &.load{
        opacity: 0.4;
        pointer-events: none;
    }
    .article{
        width: 100%;
        height: 400px;
        float: left;
        margin: 15px 0;
        position: relative;
        overflow: hidden;
        .thumbnail{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            -webkit-transition: all 3.5s ease;
                    transition: all 3.5s ease;
        }
        .title{
            width: 100%;
            height: 85px;
            max-width: 714px;
            background: rgba(255,191,55,0.9);
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            z-index: 2;
        }
        h3{
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            margin-bottom: 0;
            color: #fff;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            z-index: 3;
            // white-space: nowrap;
        }
        &:hover{
            .thumbnail{
                -webkit-transform: scale(1.1);
                transform: scale(1.1);
            }
            .title{
                height: 65px;
                h3{
                    line-height: 65px;
                }  
            }
        }
    }
}
.more__post{
    width: 100%;
    float: left;
    margin: 35px 0;
    text-align: center;
    position: relative;
    .load__icon{
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -15px 0 0 -15px;
        opacity: 0;
        pointer-events: none;
    }
    button{
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    &.load{
        button{
            opacity: 0;
            pointer-events: none;
        }
        .load__icon{
            opacity: 1;
            pointer-events: inherit;
        }
    }
}
.load__line{
    width: 100%;
    float: left;
    margin: -45px 0 20px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &.load{
        opacity: 1;
        visibility: visible;
    }
}
.load__icon{
    width: 30px;
    height: 30px;
    margin: 0 auto;
    border: 2px solid #FFBF37;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 575ms infinite linear;
    -o-animation: cssload-spin 575ms infinite linear;
    -ms-animation: cssload-spin 575ms infinite linear;
    -webkit-animation: cssload-spin 575ms infinite linear;
    -moz-animation: cssload-spin 575ms infinite linear;
}
@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@include media-breakpoint-down(xl) {
    .blog__slider {
        .content{
            max-width: inherit;
            width: 45%;
        }
        .video .play__icon{
            right: 15%;
        }
    }
}
@include media-breakpoint-down(md) {
    .blog__slider {
        .content {
            width: 70%;
            h2{
                font-size: 32px;
            }
        }
        .video .play__icon{
            right: 50px;
            width: 50px;
            height: 50px;
            z-index: 10;
            &::before{
                width: 20px;
                height: 20px;
            }
        }
    }
    .more__posts{
        .text{
            display: none;
        }
    }
    .blog__wrapper .search__block{
        max-width: 320px;
    }
}
@include media-breakpoint-down(sm) {
    .blog__slider {
        .content {
            width: 61%
        }
    }
    .blog__wrapper .search__block{
        max-width: 100%;
        margin-top: 10px;
    }
    .posts__list .article{
        height: 350px;
        .title{
            height: 120px;
        }
        h3{
            width: 100%;
            text-align: center;
        }
    }
}
@include media-breakpoint-down(xs) {
    .blog__wrapper{
        margin: 0px 0 80px;
    }
    .load__line{
        margin: -20px 0 25px;
    }
    .blog__slider {
        .content {
            width: 100%;
            left: 0;
            right: 0;
            bottom: 40px;
            padding: 0 20px;
            h2{
                font-size: 28px;
            }
            p{
                display: none;
            }
        }
        .video .play__icon{
            width: 58px;
            height: 58px;
            right: inherit;
            left: 50%;
        }
    }
    .posts__list .article{
        h3{
            font-size: 24px;
        }
    }
}