footer{
    width: 100%;
    float: left;
    .top__line{
        width: 100%;
        float: left;
        padding: 50px 30px 56px;
        background-color: $brown;
        position: relative;
    }
    .bottom__line{
        width: 100%;
        float: left;
        background-color: $dark-brown;
        padding: 15px 30px;
        .copyright{
            margin: 7px 0;
            p{
                margin-bottom: 0;
                color: #fff;
                font-weight: normal;
                line-height: 18px;
                font-size: 12px;
            }
        }
    }
    .footer__nav{
        margin: 15px 0 0 30px;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                margin: 0 15px;
                float: left;
                a{
                    padding: 5px 15px;
                    display: block;
                    font-weight: normal;
                    line-height: 21px;
                    font-size: 14px;
                    color: #FFFFFF;
                    &:hover{
                        color: $yellow;
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .suscribe__block{
        width: 488px;
        h5{
            color: #fff;
            margin-bottom: 9px;
        }
        form{
            input{
                width: 334px;
                float: left;
                margin-right: 20px;
            }
        }
        section.yikes-mailchimp-container{
            width: 100%;
            position: relative;
        }
        .yikes-easy-mc-form .field-no-label,
        .yikes-easy-mc-form label{
            margin-bottom: 0;
            display: block;
        }
        .yikes-easy-mc-success-message{
            background: transparent;
            color: #fff;
            padding: 12px 0;
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 0;
        }
        .edit-link{
            display: block;
            margin-top: 5px;
            a{
                color: #FFBF37;
                font-size: 12px;
            }
        }
        .yikes-easy-mc-form{
            input[type=email]{
                width: 334px;
                float: left;
                margin-right: 20px;
                padding: 7px 0 9px;
                margin-bottom: 0;
                border: none;
                border-bottom: 1px solid #4B3D20;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                font-size: 16px;
                color: #ccc;
                background-color: transparent;
                outline: none;
            }
            .yikes-easy-mc-submit-button{
                width: auto;
                position: relative;
                display: inline-block;
                padding: 7px 21px;
                margin: 0;
                border: none;
                &::before{
                    content: '';
                    display: block;
                    width: 15px;
                    height: 40px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border: 2px solid #FFBF37;
                    border-right: none;
                }
                &::after{
                    content: '';
                    display: block;
                    width: 15px;
                    height: 40px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border: 2px solid #FFBF37;
                    border-left: none;
                }
                span{
                    font-size: 14px;
                    font-weight: 600;
                    color: #fff;
                    line-height: normal;
                    text-transform: uppercase;
                    text-align: center;
                }
                &:hover{
                    background-color: #FFBF37;
                }
            }
        }
    }
    .form__field{
        border-color: #4B3D20;
    }
}
.social__block{
    .text{
        float: left;
        display: block;
        font-weight: 600;
        line-height: 21px;
        font-size: 14px;
        text-align: right;
        color: #FFFFFF;
        margin-top: 6px;
        margin-right: 9px;
    }
    nav{
        float: left;
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                float: left;
                margin: 0 0 0 11px;
                a{
                    width: 34px;
                    height: 34px;
                    display: block;
                    background-color: $yellow;
                    position: relative;
                    &:hover{
                        background-color: #fff;
                    }
                    &::before{
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -webkit-transform: translate(-50%, -50%);
                        transform: translate(-50%, -50%);
                    }
                    &.facebook{
                        &::before{
                            width: 10px;
                            height: 18px;
                            background-image: url(../images/facebook.svg);
                        }
                    }
                    &.instagram{
                        &::before{
                            width: 18px;
                            height: 18px;
                            background-image: url(../images/instagram.svg);
                        }
                    }
                    &.youtube{
                        &::before{
                            width: 18px;
                            height: 13px;
                            background-image: url(../images/youtube.svg);
                        }
                    }
                    &.telegram{
                        &::before{
                            width: 18px;
                            height: 15px;
                            background-image: url(../images/telegram.svg);
                        }
                    }
                    &.twitter{
                        &::before{
                            width: 18px;
                            height: 15px;
                            background-image: url(../images/twitter.svg);
                        }
                    }
                }
            }
        }
    }
    &.white{
        nav ul li {
            a{
                &:hover{
                    background-color: $black;
                }
                &.facebook::before{
                    background-image: url(../images/facebook_white.svg);
                }
                &.instagram::before{
                    background-image: url(../images/instagram_white.svg);
                }
                &.youtube::before{
                    background-image: url(../images/youtube_white.svg);
                }
                &.telegram::before{
                    background-image: url(../images/telegram_white.svg);
                }
                &.twitter::before{
                    background-image: url(../images/twitter_white.svg);
                }
            }
        }
    }
}
@media screen and (max-width: 1500px){
    footer {
        .footer__nav{
            ul{
                li{
                    margin: 0;
                }
            }
        }
        .suscribe__block{
            width: 400px;
            .yikes-easy-mc-form input[type=email]{
                width: 245px;
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    footer {
        .top__line{
            padding: 40px 30px 40px
        }
        // .logo__block{
        //     position: absolute;
        //     top: 40px;
        //     left: 30px;
        //     z-index: 1;
        // }
        .footer__nav{
            // width: 100%;
            float: right!important;
            margin: 15px 0 40px;
            ul{
                width: 100%;
                text-align: right;
                li{
                    float: none;
                    display: inline-block;
                    margin: 0;
                    a{
                        padding: 5px 10px;
                    }
                }
            }
        }
        .suscribe__block.float-right{
            margin: 20px auto 0;
            float: none!important;
            clear: both;
            h5{
                width: 100%;
                float: left;
                text-align: center;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    footer {
        .logo__block.float-left{
            position: static;
            width: 100%;
            text-align: center;
            margin-bottom: 20px;
        }
        .footer__nav{
            width: 100%;
            float: left;
            ul{
                text-align: center;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    footer{
        .footer__nav ul li{
            width: 100%;
            float: left;   
            margin: 5px 0;
        }
        .bottom__line{
            .copyright{
                width: 100%;
                float: left;
                text-align: center;
            }
            .social__block.float-right{
                width: 100%;
                float: left!important;
                margin-top: 10px;
                .text{
                    width: 100%;
                    margin-bottom: 10px;
                }
                nav{
                    float: right;
                }
            }
        }
    }
}
@include media-breakpoint-down(xs) {
    footer .suscribe__block{
        width: 100%;
        .yikes-easy-mc-form input[type=email]{
            width: 100%;
            margin-right: 0;
            margin-bottom: 10px;
        }
        .yikes-easy-mc-form .yikes-easy-mc-submit-button{
            width: 100%;
        }
    }
}