/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,900|Open+Sans:300,400&subset=cyrillic');
/*Typography*/
h1,.h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: normal;
    font-size: 36px;
} 
h2,.h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: normal;
    font-size: 150px;
}
h3,.h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: normal;
    font-size: 28px;
}
h4,.h4{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 36px;
    font-size: 24px;
}
h5,.h5{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
}
h6,.h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: normal;
    font-size: 14px;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 27px;
    font-size: 18px;
     
}
a{
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
img{
    // width: 100%;
    height: auto;
    max-width: 100%;
}
button{
    outline: none;
}
.slide{
    outline: none;        
}
.btn{
    position: relative;
    display: inline-block;
    padding: 7px 21px;
    border-radius: 0;
    background-color: transparent;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &.disable{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    &:focus{
        box-shadow: none;
    }
    &.white__border{
        .border__top{
            &::before,
            &::after{
                border-color: #fff;
            }
        }
        .border__bottom{
            &::before,
            &::after{
                border-color: #fff;
            }
        }
        .text{
            color: $black;
        }
    }
    &.yellow__border{
        .border__top{
            &::before,
            &::after{
                border-color: $yellow;
            }
        }
        .border__bottom{
            &::before,
            &::after{
                border-color: $yellow;
            }
        }
        .text{
            color: #fff;
        }
    }
    &.dark{
        .text{
            color: $black;
        }
    }
    .border__top{
        width: 100%;
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;
        &::before{
            content: '';
            width: 15px;
            height: 15px;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        &::after{
            content: '';
            width: 15px;
            height: 15px;
            border-top: 2px solid transparent;
            border-right: 2px solid transparent;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }
    .border__bottom{
        width: 100%;
        height: 15px;
        position: absolute;
        bottom: 0;
        left: 0;
        &::before{
            content: '';
            width: 15px;
            height: 15px;
            border-bottom: 2px solid transparent;
            border-left: 2px solid transparent;
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        &::after{
            content: '';
            width: 15px;
            height: 15px;
            border-bottom: 2px solid transparent;
            border-right: 2px solid transparent;
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
        }
    }
    .text{
        font-weight: 600;
        line-height: normal;
        font-size: 14px;
        text-align: center;
        text-transform: uppercase
    }
    &:hover{
        .border__top{
            &::before{
                width: 100%;
            }
        }
        .border__bottom{
            &::after{
                width: 100%;
            }
        }
    }
}
.form__field{
    font-weight: normal;
    line-height: 24px;
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    border-bottom: 1px solid #4B3D20;
    background-color: transparent;
    outline: none;
    padding: 7px 0 9px;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &.search{
        font-style: normal;
        font-weight: normal;
        color: $grey;
        border-color: rgba(96,96,96,0.1);
    }
    &.wpcf7-not-valid{
        border-color: red;
    }
    &:focus{
        border-color: $yellow;
    }
}
.form__submit{
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: normal;
    text-transform: uppercase;
    text-align: center;
    padding: 9px 21px;
    border-radius: 0;
    color: #202020;
    background-color: transparent;
    border: 2px solid #FFBF37;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none;
    &:hover{
        background-color: #FFBF37;
    }
}
.wpcf7-form-control-wrap{
    position: relative;
    width: 100%;
    float: left;
}
span.wpcf7-not-valid-tip{
    position: absolute;
    bottom: -18px;
    left: 0;
    font-size: 11px;
    font-weight: 500;
}
div.wpcf7-response-output{
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
    border: none;
    &.wpcf7-validation-errors,
    &.wpcf7-acceptance-missing{
        color: red;
        font-size: 14px;
        font-weight: 500;
    }
}
button.hidden{
    display: none;
}
::selection {
  background: $yellow;
}
::-moz-selection {
  background: $yellow;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #fff;
}
::-webkit-scrollbar-thumb {
    background: $yellow;
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(16,16,16,1);
}
::-webkit-scrollbar-thumb:active {
    background: #000;
}
/*General*/
body{
    width: 100%;
    float: left;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
    overflow-x: hidden;
    background-image: url(../images/layout.png);
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: inherit!important;
    background-size: contain;
}
main{
    width: 100%;
    min-height: 80vh;
    float: left;
}
.preloader__wrapper{
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    opacity: 1;
    &.loaded{
        opacity: 0;
        visibility: hidden;
    }
    .block{
        width: 80px;
        height: 80px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        .logo{
            width: 50px;
            height: 51px;
            display: block;
            background-image: url(../images/preloader_logo.svg);
            position: absolute;
            top: 700%;
            left: -600%;
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            opacity: 0;
            &.show{
                top: 50%;
                left: 50%;
                opacity: 1;
                &.done{
                    top: -600%;
                    left: 700%;
                    opacity: 0;
                }
            }
        }
        .square{
            width: 15px;
            height: 15px;
            position: absolute;
            display: block;
            animation-name:f_fadeG;
            -webkit-animation-name:f_fadeG;
            animation-duration:2s;
            -webkit-animation-duration:2s;
            animation-iteration-count:infinite;
            -webkit-animation-iteration-count:infinite;
            animation-direction:normal;
            -webkit-animation-direction:normal;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            &.square__1{
                border-top: 4px solid #FFBF37;
                border-left: 4px solid #FFBF37;
                left: 0px;
                top: 0px;
                animation-delay:0.5s;
                -webkit-animation-delay:0.5s;
            }
            &.square__2{
                border-top: 4px solid #FFBF37;
                border-right: 4px solid #FFBF37;
                right: 0px;
                top: 0px;
                animation-delay:1s;
                -webkit-animation-delay:1s;
            }
            &.square__3{
                border-bottom: 4px solid #FFBF37;
                border-left: 4px solid #FFBF37;
                left: 0px;
                bottom: 0px;
                animation-delay:2s;
                -webkit-animation-delay:2s;
            }
            &.square__4{
                border-bottom: 4px solid #FFBF37;
                border-right: 4px solid #FFBF37;
                right: 0px;
                bottom: 0px;
                animation-delay:1.5s;
                -webkit-animation-delay:1.5s;
            }
        }
    }
}
@keyframes f_fadeG{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}
@-webkit-keyframes f_fadeG{
    0%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}
section{
    /*overflow-x: hidden;
    overflow-y: visible;*/
}
.slick-slide{
    outline: none;
}
/*About us*/
section{
    &.padding{
        padding: 207px 0;
    }
    &.padding__top{
        padding: 207px 0 90px;
    }
    // &.contacts{
    //     padding: 207px 0 82px;
    // }
}
// .contacts{
//     padding: 200px 0 80px;
// }
.form__block{
    padding: 80px 0;
}
.section__title{
    &.minus__60{
        margin: 0 0 0 -60px;
    }
    &.minus__80{
        margin: 0 0 0 -80px;
    }
    &.margin__45{
        margin: 0 0 0 45px;
    }
    &.margin__60{
        margin: 0 0 0 60px;
    }
    &.margin__90{
        margin: 0 0 0 90px;
    }
    &.margin__120{
        margin: 0 0 0 120px;
    }
    &.margin__200{
        margin: 0 0 0 200px;
    }
    &.margin__300{
        margin: 0 0 0 300px;
    }
    &.padding__top__120{
        padding-top: 120px;
    }
    &.absolute{
        position: absolute;
        top: 100px;
    }
    h2,h3,h4,h5,h6{
        font-weight: 900;
        line-height: normal;
        text-transform: uppercase;
        color: #F2F2F2;
    }
    h2{
        font-size: 150px;
    }
    h3{
        font-size: 90px;
    }
    h4{
        font-size: 70px;
    }
    h5{
        font-size: 50px;
    }
    h6{
        font-size: 30px;
    }
}
.section__text{
    position: absolute;
    z-index: 1;
    margin-top: -150px;
    &.margin__top__150{
        margin-top: 150px;
    }
    &.margin__top__350{
        margin-top: 350px;
    }
    &.margin__top__450{
        margin-top: 450px;
    }
    &.margin{
        margin: 137px 0 81px;
        position: static;
    }
    p{
        font-family: Open Sans;
        font-style: normal;
        font-weight: 300;
        line-height: 36px;
        font-size: 24px;
        color: #505050;
        margin-bottom: 31px;
    }
}
.section__image{
    width: 100%;
    max-width: 817px;
    position: relative;
    margin: 120px auto 0;
    .border__top{
        width: 100%;
        height: 30px;
        position: absolute;
        top: -13px;
        &::before{
            content: '';
            width: 30px;
            height: 30px;
            border-top: 2px solid $yellow;
            border-left: 2px solid $yellow;
            position: absolute;
            top: 0;
            left: -14px;
        }
        &::after{
            content: '';
            width: 30px;
            height: 30px;
            border-top: 2px solid $yellow;
            border-right: 2px solid $yellow;
            position: absolute;
            top: 0;
            right: -14px;
        }
    }
    .border__bottom{
        width: 100%;
        height: 30px;
        position: absolute;
        bottom: -13px;
        &::before{
            content: '';
            width: 30px;
            height: 30px;
            border-bottom: 2px solid $yellow;
            border-left: 2px solid $yellow;
            position: absolute;
            bottom: 0;
            left: -14px;
        }
        &::after{
            content: '';
            width: 30px;
            height: 30px;
            border-bottom: 2px solid $yellow;
            border-right: 2px solid $yellow;
            position: absolute;
            bottom: 0;
            right: -14px;
        }
    }
    .image__block{
        width: 100%;
        height: auto;
    }
}
.subscribe__section{
    .subscribe__block{
        max-width: 1120px;
        width: 100%;
        background-color: $yellow;
        padding: 0 207px 0 70px;
        position: relative;
        margin-top: -45px;
        .content{
            width: 100%;
            min-height: 190px;
            position: relative;
        }
        .link{
            right: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            position: absolute;
        }
        h4{
            width: 100%;
            max-width: 556px;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            position: absolute;
            color: #fff;
            line-height: 36px;
            margin-bottom: 0;
        }
    }
}
@media screen and(max-width: 1500px){
    .section__title h2{
        font-size: 100px;
    }
}
@include media-breakpoint-down(lg) {
    .section__title h2{
        font-size: 80px;
    }
    .section__text p{
        font-size: 22px;
        line-height: 28px;
    }
    .subscribe__section .subscribe__block {
        width: 90%;
        height: auto;
        padding: 20px 70px 20px 80px;
        .content{
            float: left;
            min-height: inherit;
            position: relative;
            top: 0;
            left: 0;
            -webkit-transform: translate(0);
            transform: translate(0);
            h4{
                position: static;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                padding-right: 200px;
            }
        }  
    }
}
@include media-breakpoint-down(md) {
    .subscribe__section .subscribe__block {
        padding: 20px 50px 20px 50px;
        .content{
            h4{
                font-size: 20px;
                line-height: 26px;
            }
        }            
    }
}
@include media-breakpoint-down(sm) {
    body{
        padding: 15px;
    }
    .section__title h2{
        font-size: 50px;
    }
    .section__text p{
        font-size: 18px;
        line-height: 22px;
    }
    section.padding{
        padding: 150px 0;
    }
    .subscribe__section .subscribe__block{
        margin-top: -15px;
    }
}
@include media-breakpoint-down(xs) {
    .subscribe__section .subscribe__block{
        padding: 20px;
        .content{
            h4{
                padding-right: 0;
                margin-bottom: 10px;
                font-size: 18px;
                line-height: 24px;
            }
            .link{
                width: 100%;
                float: left;
                position: static;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                a{
                    width: 100%;
                }
            }
        }
    }
}
/*Partners section*/
.partners__list{
    width: 100%;
    float: left;
    position: relative;
}
.all__partners{
    width: 696px;
    float: left;
    .partner__block{
        width: 212px;
        height: 212px;
        float: left;
        margin: 10px 20px 10px 0;  
        background: #FFFFFF;
        box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.05);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        &:hover{
            box-shadow: 8px 8px 14px rgba(80, 80, 80, 0.2);
            img{
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
                opacity: 1;
            }
        }
        a{
            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                width: initial;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
                opacity: 0.6;
            }
        }
    }
}
.general__partner{
    width: 413px;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    .partner__block{
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        a{
            color: $black;
            display: block;
        }
        a:hover{
            text-decoration: none;
            color: $yellow;

        }
        img{
            width: inherit;
            max-width: inherit;
            height: auto;
            margin-bottom: 48px;
        }
        h6{
            font-weight: 600;
            line-height: normal;
            font-size: 18px;
            text-align: center;
        }
    }
}
@include media-breakpoint-down(lg) {
    .all__partners{
        width: 600px;
        .partner__block{
            width: 180px;
            height: 180px;
        }
    }
    .general__partner{
        width: 300px;
        .partner__block{
            width: 100%;
            img{
                max-width: 100%;
                height: auto;
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .all__partners{
        width: 100%;
        margin: auto;
        text-align: center;
        .partner__block{
            display: inline-block;
            float: none;
            margin: 10px 10px 10px 10px;
        }
    }
    .general__partner{
        width: 100%;
        height: auto;
        float: left;
        position: static;
        margin-top: 30px;
        .partner__block{
            position: static;
            top: 0;
            left: 0;
            -webkit-transform: translate(0);
            transform: translate(0);
        }
    }
}
@include media-breakpoint-down(sm) {
    .partners__section{
        .section__title.absolute{
            top: -55px;
        }
    }
}
@include media-breakpoint-down(xs) {
    .all__partners .partner__block{
        width: 47%;
        margin: 10px 1%;
    }
    .partners__section.padding__top{
        padding: 170px 0 90px;
        .section__title.absolute{
            top: -110px;
        }
    }
}
@media screen and (max-width: 380px) {
    .all__partners .partner__block{
        width: 100%;
        height: 140px;
        margin: 10px 0;
    }
}
.page__banner{
    width: 100%;
    height: 575px;
    float: left;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    position: relative;
    .title{
        position: absolute;
        bottom: 66px;
        right: 115px;
        text-align: right;
        h2{
            font-weight: 600;
            line-height: normal;
            font-size: 48px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 0;
        }
    }
}
.page__content{
    width: 100%;
    float: left;
    &.padding__top{
        padding-top: 200px;
    }
    .content{
        width: 100%;
        float: left;
        padding: 70px 0 0;
        p{
            font-weight: 300;
            line-height: 36px;
            font-size: 24px;
            color: $grey;
        }
    }
    .donate__image{
        margin: 120px 0 0;
    }
    .donate__text{
        position: absolute;
        bottom: 20px;
        h4{
            margin-bottom: 21px;
            &.no__margin{
                margin-bottom: 0;
            }
            &.yellow{
                color: $yellow;
            }
        }
        p{
            font-weight: 300;
            line-height: 20px;
            font-size: 18px;
            color: #202020;
        }
    }
}
.contacts__image{
    width: 100%;
    float: left;
    margin-top: -70px;
    img{
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.1);
    }
}
.contacts__logo{
    max-width: 365px;
    margin-top: 38px;
    margin-left: -45px;
}
.contacts__text{
    position: absolute;
    bottom: 50px;
    margin-left: 20px;
    a{
        width: 100%;
        float: left;
        font-weight: 600;
        line-height: 36px;
        font-size: 24px;
        color: $black;
        &:hover{
            color: $yellow;
            text-decoration: none;
        }
    }
    .tel__block{
        width: 100%;
        float: left;
        margin-bottom: 35px;
        position: relative;
        &::before{
            content: '';
            width: 52px;
            height: 52px;
            display: block;
            position: absolute;
            top: -34px;
            left: -20px;
            background-image: url(../images/phone_icon.svg);
            z-index: -1;
        }
    }
    .email__block{
        width: 100%;
        float: left;
        margin-bottom: 29px;
        position: relative;
        &::before{
            content: '';
            width: 51px;
            height: 33px;
            display: block;
            position: absolute;
            top: -18px;
            left: -20px;
            background-image: url(../images/email_icon.svg);
            z-index: -1;
        }
    }
    .social__block nav {
        ul{
            li{
                margin: 0 11px 0 0;
            }
        }
    }
}
.contact__form__large{
    width: 100%;
    max-width: 650px;
    float: left;
    margin: -30px 0 0 0;
    position: relative;
    &::before{
        content: '';
        width: 30px;
        height: 30px;
        position: absolute;
        top: -10px;
        right: -35px;
        border-top: 2px solid $yellow;
        border-right: 2px solid $yellow;
    }
    &::after{
        content: '';
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: -10px;
        right: -35px;
        border-bottom: 2px solid $yellow;
        border-right: 2px solid $yellow; 
    }
}
@include media-breakpoint-down(md) {
    .page__banner{
        height: 450px;
        .title{
            right: 20px;
            bottom: 20px;
            h2{
                font-size: 32px;
            }
        }
    }
    section.contacts{
        padding: 100px 0 80px;
        .contacts__text{
            bottom: 0;
            top: 50%;
        }
    }
    .contacts__image{
        margin-top: -30px;
    }
    .page__content .donate__text{
        bottom: 0;
        top: 30%;
        h4{
            line-height: 28px;
            font-size: 20px;
        }
    }
}

@include media-breakpoint-down(sm) {
    section.contacts{
        .contacts__text{
            width: 100%;
            float: left;
            margin-left: 0;
            top: 100%;
            position: relative;
            background-color: #fff;
            padding: 15px 10px;
            a{
                font-size: 18px;
                line-height: 24px;
            }
        }
    }
    .contacts__image{
        margin-top: -10px;
    }
    .page__content .donate__text {
        background-color: #fff;
        padding: 15px 10px;
        position: relative;
    }
    .contact__form__large{
        margin: -90px 0 0 0;
    }
}
@include media-breakpoint-down(xs) {
    .page__banner {
        height: 300px;
        margin-bottom: 0;
        .title{
            width: 100%;
            padding: 0 20px;
            right: 0;
            text-align: center;
        }
    }
    .page__content.padding__top{
        padding-top: 100px;
    }
    .contacts__text{
        background-color: #fff;
        margin-left: 0;
        padding: 40px 20px;
        left: 0;
        right: 0;
        bottom: -130px;
        a{
            font-size: 18px;
            line-height: 24px;
        }
    }
    .contacts__logo{
        max-width: 170px;
    }
    .contact__form__large{
        margin: -180px 0 0;
    }
}
/*Search result*/
.page__title{
    width: 100%;
    float: left;
    margin-top: 120px;
    margin-bottom: 30px;
}
.no__results{
    width: 100%;
    float: left;
    margin-top: 50px;
}
@include media-breakpoint-down(md) {
    .page__title{
        margin-top: 50px;
        .section__title h4{
            font-size: 50px;
        }
    }
}
@include media-breakpoint-down(sm) {
    .page__title{
        .section__title h4{
            font-size: 40px;
        }
    }
}
@include media-breakpoint-down(xs) {
    .page__title{
        .section__title h4{
            font-size: 30px;
        }
    }
}