.home{
    header{
        .logo{
            opacity: 0;
            visibility: hidden;
        }
        &.background{
            z-index: 1000;
            .logo{
                opacity: 1;
                visibility: visible;
                top: -5px;
            }
        }
    }
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 30px 30px 0 30px;
    z-index: 10;
    -webkit-transition: all 1s ease;
            transition: all 1s ease;
    .logo{
        width: 50px;
        height: 51px;
        display: block;
        position: absolute;
        top: 15px;
        left: 10px;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
    }
    &.background{
        background: #FFFFFF;
        box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.05);
        &.hide{
            top: -100%;
        }
        .navigation__row{
            margin: 10px 0 27px;
        }
        .logo{
            top: -5px;
        }
        .lang__switcher{
            top: 3px;
            .current__lang{
                background-color: #FFFAEF;
            }
            ul{
                li{
                    a{
                        background-color: #FFFAEF;
                    }
                }
            }
        }
        .main__navigation.white__nav ul {
            li{
                &.current-menu-item{
                    a{
                        color: $yellow;
                    }
                }
                a{
                    color: $black;
                    &:hover{
                        color: $yellow;
                    }
                }
            }
        }
    }
}
.mobile__nav{
    width: 100%;
    height: 67px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 998;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &.background{
        background-color: #fff;
        .mobile__btn{
            top: 15px;
        }
        .mobile__logo{
            top: 15px;
        }
    }
    &.hide__menu{
        top: -120px;
    }
    .mobile__logo{
        position: absolute;
        top: 50px;
        left: 50px;
        width: 68px;
        height: 36px;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
    }
}
.close__mobile{
    width: 42px;
    height: 34px;
    display: block;
    position: fixed;
    right: 50px;
    cursor: pointer;
    z-index: 1000;
    -webkit-transition: all .3s ease;
            transition: all .3s ease;
    span{
        position: absolute;
        display: block;
        width: 28px;
        height: 2px;
        background-color: #202020;
        left: 50%;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        &:nth-child(1){
            top: 16px;
            -webkit-transform: translateX(-50%) rotate(135deg);
            transform: translateX(-50%) rotate(135deg);
        }
        &:nth-child(2){
            opacity: 0;
            left: -30px;
        }
        &:nth-child(3){
            top: 16px;
            -webkit-transform: translateX(-50%) rotate(-135deg);
            transform: translateX(-50%) rotate(-135deg);
        }
    }
}
.mobile__btn{
    width: 42px;
    height: 34px;
    display: block;
    position: fixed;
    top: 50px;
    right: 50px;
    cursor: pointer;
    z-index: 1000;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    span{
        position: absolute;
        display: block;
        width: 28px;
        height: 2px;
        background-color: #202020;
        left: 50%;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    span:nth-child(1){
        top: 6px;
    }
    span:nth-child(2){
        top: 16px;
    }
    span:nth-child(3){
        top: 26px;
    }
    &.show__menu{
        span{
            &:nth-child(1){
                top: 16px;
                -webkit-transform: translateX(-50%) rotate(135deg);
                transform: translateX(-50%) rotate(135deg);
            }
            &:nth-child(2){
                opacity: 0;
                left: -30px;
            }
            &:nth-child(3){
                top: 16px;
                -webkit-transform: translateX(-50%) rotate(-135deg);
                transform: translateX(-50%) rotate(-135deg);
            }
        }
    }
}
.mobile__navigation{
    position: fixed;
    width: 390px;
    height: 100%;
    right: 0;
    top: 0; 
    z-index: 999;
    background-color: #fff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    &.show__menu{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .close__mobile{
        top: 50px;
    }
    &.top{
        .mobile__logo{
            margin: 17px 30px 0 42px;
        }
        .lang__switcher{
            margin: 17px 110px 0 0;
        }
        .close__mobile{
            top: 17px;
        }
    }
    &::before{
        content: '';
        width: 257px;
        height: 262px;
        display: block;
        position: absolute;
        background-image: url(../images/mobile_big_logo.svg);
        background-repeat: no-repeat;
        background-size: cover;
        bottom: 0;
        left: 0;
    }
    .mobile__logo{
        width: 68px;
        height: 36px;
        position: relative;
        margin: 50px 30px 0 42px;
        display: block;
    }
    .youtube__btn{
        position: absolute;
        height: 34px;
        top: 100%;
        margin-top: -50px;
        z-index: 100;
    }
    .lang__switcher{
        width: 38px;
        margin: 50px 110px 0 0;
        position: relative;
        top: 0;
        z-index: 100;
        .current__lang{
            width: 38px;
            height: 36px;
        }
        .left__side{
            top: 0;
            &::before,
            &::after{
                border-width: 2px;
            }
            &::after{
                bottom: 0;
            }
        }
        .right__side{
            top: 0;
            &::before,
            &::after{
                border-width: 2px;
            }
            &::after{
                bottom: 0;
            }
        }
    }
    nav{
        position: absolute;
        top: 130px;
        bottom: 65px;
        overflow: auto;
        ul{
            width: 100%;
            float: left;
            list-style: none;
            padding: 0 42px;
            margin: 0;
            li{
                width: 100%;
                float: left;
                margin: 0;
                a{
                    float: left;
                    font-size: 22px;
                    line-height: 33px;
                    font-weight: 500;
                    color: #FFBF37;
                    padding: 5px 15px;
                    position: relative;
                    &::before{
                        content: '';
                        width: 5px;
                        height: 28px;
                        display: block;
                        position: absolute;
                        top: 7px;
                        left: 0;
                        border-left: 1px solid transparent;
                        border-top: 1px solid transparent;
                        border-bottom: 1px solid transparent;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        -webkit-transform: translateX(-10px);
                        transform: translateX(-10px);
                    }
                    &::after{
                        content: '';
                        width: 5px;
                        height: 28px;
                        display: block;
                        position: absolute;
                        top: 7px;
                        right: 0;
                        border-right: 1px solid transparent;
                        border-top: 1px solid transparent;
                        border-bottom: 1px solid transparent;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        -webkit-transform: translateX(10px);
                        transform: translateX(10px);
                    }
                    &:hover{
                        text-decoration: none;
                        color: #202020;
                        &::before{
                            border-left: 1px solid $yellow;
                            border-top: 1px solid $yellow;
                            border-bottom: 1px solid $yellow;
                            -webkit-transform: translateX(0);
                            transform: translateX(0);
                        }
                        &::after{
                            border-right: 1px solid $yellow;
                            border-top: 1px solid $yellow;
                            border-bottom: 1px solid $yellow;
                            -webkit-transform: translateX(0);
                            transform: translateX(0);
                        }
                    }
                }
                &.current-menu-item{
                    a{
                        color: #202020;
                        &::before{
                            border-left: 1px solid $yellow;
                            border-top: 1px solid $yellow;
                            border-bottom: 1px solid $yellow;
                            -webkit-transform: translateX(0);
                            transform: translateX(0);
                        }
                        &::after{
                            border-right: 1px solid $yellow;
                            border-top: 1px solid $yellow;
                            border-bottom: 1px solid $yellow;
                            -webkit-transform: translateX(0);
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
    }
}
.navigation__row{
    width: 100%;
    float: left;
    margin: 27px 0;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.main__navigation{
    &.white__nav{
        ul li a{
            color: #fff;
        }
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            float: left;
            margin: 0 10px;
            a{
                line-height: 20px;
                font-size: 14px;
                color: $black;
                position: relative;
                padding: 0 10px;
                display: block;
                &::before{
                    content: '';
                    width: 5px;
                    height: 20px;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    border-left: 1px solid transparent;
                    border-top: 1px solid transparent;
                    border-bottom: 1px solid transparent;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    -webkit-transform: translateX(-10px);
                    transform: translateX(-10px);
                }
                &::after{
                    content: '';
                    width: 5px;
                    height: 20px;
                    display: block;
                    position: absolute;
                    top: 0;
                    right: 0;
                    border-right: 1px solid transparent;
                    border-top: 1px solid transparent;
                    border-bottom: 1px solid transparent;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    -webkit-transform: translateX(10px);
                    transform: translateX(10px);
                }
                &:hover{
                    text-decoration: none;
                    color: $yellow;
                    &::before{
                        border-left: 1px solid $yellow;
                        border-top: 1px solid $yellow;
                        border-bottom: 1px solid $yellow;
                        -webkit-transform: translateX(0);
                        transform: translateX(0);
                    }
                    &::after{
                        border-right: 1px solid $yellow;
                        border-top: 1px solid $yellow;
                        border-bottom: 1px solid $yellow;
                        -webkit-transform: translateX(0);
                        transform: translateX(0);
                    }
                }
            }
            &.current-menu-item{
                a{
                    color: $yellow;
                    &::before{
                        border-left: 1px solid $yellow;
                        border-top: 1px solid $yellow;
                        border-bottom: 1px solid $yellow;
                        -webkit-transform: translateX(0);
                        transform: translateX(0);
                    }
                    &::after{
                        border-right: 1px solid $yellow;
                        border-top: 1px solid $yellow;
                        border-bottom: 1px solid $yellow;
                        -webkit-transform: translateX(0);
                        transform: translateX(0);
                    }
                }
            }
        }
    }
}
.help__navigation{
    margin: 0 10px;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            line-height: 20px;
            a{
                font-weight: 500;
                line-height: 21px;
                font-size: 14px;
                color: $brown;
                display: block;
                &:hover{
                    color: $yellow;
                    text-decoration: none;
                }
            }
        }
    }
}
.youtube__btn{
    display: block;
    background-color: $yellow;
    padding: 5px 19px;
    margin: 0 68px 0 25px;
    position: relative;
    top: -7px;
    &:hover{
        text-decoration: none;
        .border__top{
            &::before{
                width: 100%;
            }
        }
        .border__bottom{
            &::after{
                width: 100%;
            }
        }
    }
    .text{
        text-transform: uppercase;
        font-weight: 600;
        line-height: normal;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }
    .border__top{
        width: 100%;
        height: 8px;
        position: absolute;
        top: 0;
        left: 0;
        &::before{
            content: '';
            width: 8px;
            height: 8px;
            border-top: 1px solid #FFBF37;
            border-left: 1px solid #FFBF37;
            display: block;
            position: absolute;
            left: -4px;
            top: -4px;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        &::after{
            content: '';
            width: 8px;
            height: 8px;
            border-top: 1px solid #FFBF37;
            border-right: 1px solid #FFBF37;
            display: block;
            position: absolute;
            right: -4px;
            top: -4px;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }
    .border__bottom{
        width: 100%;
        height: 8px;
        position: absolute;
        bottom: 0;
        left: 0;
        &::before{
            content: '';
            width: 8px;
            height: 8px;
            border-bottom: 1px solid #FFBF37;
            border-left: 1px solid #FFBF37;
            display: block;
            position: absolute;
            left: -4px;
            bottom: -4px;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        &::after{
            content: '';
            width: 8px;
            height: 8px;
            border-bottom: 1px solid #FFBF37;
            border-right: 1px solid #FFBF37;
            display: block;
            position: absolute;
            right: -4px;
            bottom: -4px;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
    }
}
.lang__switcher{
    position: absolute;
    right: 13px;
    width: 42px;
    max-height: 34px;
    background-color: #fff;
    top: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
    &:hover{
        max-height: 300px;
        -webkit-transition: max-height 0.2s ease-in;
        transition: max-height 0.2s ease-in;
        ul{
            height: 102px;
            -webkit-transition: height 0.2s ease-in;
            transition: height 0.2s ease-in;

        }
    }
    .current__lang{
        width: 42px;
        height: 34px;
        text-align: center;
        display:block;
        color: $yellow;
        font-weight: 600;
        line-height: 32px;
        font-size: 13px;
        text-align: center;
        text-transform: uppercase;
    }
    ul{
        width: 100%;
        height: 0;
        overflow: hidden;
        list-style: none;
        margin: 0;
        padding: 0;
        -webkit-transition: height 0.2s ease-out;
        transition: height 0.2s ease-out;
        li{
            width: 100%;
            float: left;
            a{
                display: block;
                width: 100%;
                height: 34px;
                line-height: 32px;
                float: left;
                color: #202020;
                opacity: 0.2;
                font-weight: 600;
                font-size: 13px;
                text-align: center;
                text-transform: uppercase;
                &:hover{
                    opacity: 1;
                    text-decoration: none;
                }
            }
        }
    }
    .left__side{
        width: 8px;
        height: 100%;
        position: absolute;
        left: -4px;
        top: -4px;
        display: block;
        &::before{
            content: '';
            width: 8px;
            height: 8px;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            border-top: 1px solid $yellow;
            border-left: 1px solid $yellow;
        }
        &::after{
            content: '';
            width: 8px;
            height: 8px;
            display: block;
            position: absolute;
            bottom: -8px;
            left: 0;
            border-bottom: 1px solid $yellow;
            border-left: 1px solid $yellow;
        }
    }
    .right__side{
        width: 8px;
        height: 100%;
        position: absolute;
        right: -4px;
        top: -4px;
        display: block;
        &::before{
            content: '';
            width: 8px;
            height: 8px;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            border-top: 1px solid $yellow;
            border-right: 1px solid $yellow;
        }
        &::after{
            content: '';
            width: 8px;
            height: 8px;
            display: block;
            position: absolute;
            bottom: -8px;
            right: 0;
            border-bottom: 1px solid $yellow;
            border-right: 1px solid $yellow;
        }
    }
}
@media screen and (max-width: 1500px){
    .main__navigation ul li{
        margin: 0 5px;
    }
}
@include media-breakpoint-down(sm) {
    .mobile__btn{
        right: 18px;
        top: 20px;
    }
    .mobile__nav .mobile__logo{
        left: 22px;
        top: 20px;
    }
    .mobile__navigation {
        &.top{
            .close__mobile{
                top: 20px;
            }
            .mobile__logo{
                margin: 20px 30px 0 22px;
            }
        }
        .close__mobile{
            top: 20px;
            right: 20px;
        }
        .mobile__logo{
            margin: 20px 30px 0 22px;
        }
        nav{
            ul{
                padding: 0 21px;
            }
        }
        .lang__switcher{
            margin: 20px 75px 0 0!important;
        }
        .youtube__btn{
            margin: -50px 25px 0 25px;
        }
    }
}
@include media-breakpoint-down(xs) {
    .mobile__navigation{
        width: 100%;
        nav{
            ul{
                li{
                    a{
                        width: 100%;
                        float: left;
                        display: block;
                        text-align: center;
                        font-size: 18px;
                        line-height: 27px;
                        padding: 10px 0;
                        &::before,
                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }
        .youtube__btn{
            margin: 0;
            left: 50%;
            top: auto;
            bottom: 20px;
            -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
        }
    }
}