/*Map section*/
.map__section{
    width: 100%;
    min-height: 720px;
    height: calc(100vh - 60px);
    position: relative;
    .marker__list{
        display: none;
    }
    .logo__block{
        position: absolute;
        width: 180px;
        height: 93px;
        display: block;
        z-index: 10;
        right: 30%;
        top: 45%;
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        &.hide{
            opacity: 0;
            visibility: hidden;
        }
    }
    .map__zoom{
        width: 30px;
        height: 480px;
        position: absolute;
        right: 25px;
        bottom: 95px;
        .range__slider{
            width: 2px;
            height: 480px;
            border: none;
            background: rgba(255,191,55,0.27);
            background: -moz-linear-gradient(top, rgba(255,191,55,0.27) 0%, rgba(255,191,55,1) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,191,55,0.27)), color-stop(100%, rgba(255,191,55,1)));
            background: -webkit-linear-gradient(top, rgba(255,191,55,0.27) 0%, rgba(255,191,55,1) 100%);
            background: -o-linear-gradient(top, rgba(255,191,55,0.27) 0%, rgba(255,191,55,1) 100%);
            background: -ms-linear-gradient(top, rgba(255,191,55,0.27) 0%, rgba(255,191,55,1) 100%);
            background: linear-gradient(to bottom, rgba(255,191,55,0.27) 0%, rgba(255,191,55,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbf37', endColorstr='#ffbf37', GradientType=0 );
            &::before{
                content: '';
                width: 24px;
                height: 24px;
                background-image: url(../images/slider_point_small.svg);
                position: absolute;
                bottom: -12px;
                left: -12px;
            }
            span{
                width: 30px;
                height: 30px;
                background: transparent;
                background-image: url(../images/slider_point.svg);
                border: none;
                left: -14px;
                outline: none;
                cursor: pointer;
            }
        }
        .country__point{
            position: absolute;
            font-weight: 600;
            line-height: normal;
            font-size: 18px;
            text-align: right;
            top: -50px;
            right: 15px;
            color: $black;
        }
        .world__point{
            position: absolute;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            font-size: 24px;
            text-align: right;
            bottom: -45px;
            right: 15px;
            color: $grey;
        }
    }
}
.post__information{
    position: absolute;
    bottom: 50px;
    left: 400px;
    width: 720px;
    z-index: 201;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &.show__slider{
        opacity: 1;
        visibility: visible;
    }
    .to__map{
        font-weight: 600;
        line-height: normal;
        font-size: 13px;
        text-transform: uppercase;
        color: #202020;
        padding-left: 32px;
        position: relative;
        cursor: pointer;
        margin-bottom: 11px;
        -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
        &::before{
            content: '';
            width: 23px;
            height: 12px;
            display: block;
            background-image: url(../images/to_map_arrow.svg);
            position: absolute;
            top: 2px;
            left: 0;
            -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
        }
        &:hover{
            color: $yellow;
            &::before{
                left: -5px;
            }
        }
    }
    .slide{
        .information{
            width: 100%;
            float: left;
            padding-left: 5px;
            opacity: 0;
            -webkit-transition: all 0.7s ease;
            transition: all 0.7s ease;
            -webkit-transform: translateY(70px);
            transform: translateY(70px);
        }
        &.slick-active{
            .information{
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
    }
    
    h3{
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        font-size: 36px;
        color: $black;
        margin-bottom: 24px;
    }
    p{
        font-style: normal;
        font-weight: 300;
        line-height: 27px;
        font-size: 18px;
        color: $grey;
        margin-bottom: 33px;
    }
    a{
        .text{
            color: $black!important;
        }
    }
}
.map__container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 190px;
    right: 0;
    .map__wrapper{
        width: 100%;
        height: 100%;
        p{
            font-size: 14px;
            line-height: 18px;
        }
        .gm-style-iw a{
            display: inline-block;
            background-color: #FFBF37;
            padding: 7px 25px;
            margin: 0 0 10px 5px;
            position: relative;
            &:hover{
                text-decoration: none;
                .border__top{
                    &::before{
                        width: 100%;
                    }
                }
                .border__bottom{
                    &::after{
                        width: 100%;
                    }
                }
            }
            .text{
                text-transform: uppercase;
                font-weight: 600;
                line-height: normal;
                font-size: 13px;
                text-align: center;
                text-transform: uppercase;
                color: #fff;
            }
            .border__top{
                width: 100%;
                height: 8px;
                position: absolute;
                top: 0;
                left: 0;
                &::before{
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-top: 1px solid #FFBF37;
                    border-left: 1px solid #FFBF37;
                    display: block;
                    position: absolute;
                    left: -4px;
                    top: -4px;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
                &::after{
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-top: 1px solid #FFBF37;
                    border-right: 1px solid #FFBF37;
                    display: block;
                    position: absolute;
                    right: -4px;
                    top: -4px;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
            }
            .border__bottom{
                width: 100%;
                height: 8px;
                position: absolute;
                bottom: 0;
                left: 0;
                &::before{
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-bottom: 1px solid #FFBF37;
                    border-left: 1px solid #FFBF37;
                    display: block;
                    position: absolute;
                    left: -4px;
                    bottom: -4px;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
                &::after{
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-bottom: 1px solid #FFBF37;
                    border-right: 1px solid #FFBF37;
                    display: block;
                    position: absolute;
                    right: -4px;
                    bottom: -4px;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}
.posts__block{
    width: 370px;
    // height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 200;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    .active__post{
        position: absolute;
        width: 470px;
        height: 340px;
        display: block;
        background-color: $yellow;
        left: -40px;
        top: 50%;
        -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
    }
}
.posts__slider{
    width: 410px;
    height: 100%;
    .slide{
        width: 370px!important;
        outline: none;
        &.slick-current{
            .post__item{
                &.show__info{
                    .title h5{
                        color: $yellow;
                    }
                }
            }
        }
        &:focus{
            outline: none;
        }
        .post__item{
            width: 362px;
            height: 248px;
            padding: 10px 0;
            display: block;
            position: relative;
            cursor: pointer;
            margin: 0 4px;
            &:hover{
                &::before{
                    background-color: $yellow;
                }
            }
            &::before{
                content: '';
                display: block;
                background-color: transparent;
                position: absolute;
                top: 3px;
                left: -6px;
                right: -6px;
                bottom: 3px;
                z-index: 0;
                -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                z-index: 1;
            }
            &::after{
                content: '';
                display: block;
                box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.05);
                position: absolute;
                top: 15px;
                bottom: 15px;
                left: 0px;
                right: 0px;
                -webkit-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }
            &:hover{
                text-decoration: none;
            }
            &:focus{
                outline: none;
            }
            .thumbnail{
                width: 100%;
                height: 100%;
                display: block;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                position: relative;
                z-index: 1;
            }
            .title{
                position: absolute;
                width: 100%;
                bottom: 30px;
                left: 0;
                padding: 0 40px 0 20px;
                z-index: 1;
                h5{
                    color: #fff;
                    margin-bottom: 0;
                    -webkit-transition: all 0.3s ease;
                            transition: all 0.3s ease;
                }
            }
        }
    }
    .slick-arrow{
        position: absolute;
        width: 14px;
        height: 8px;
        padding: 10px;
        border: none;
        background-color: transparent;
        font-size: 0px;
        color: transparent;
        cursor: pointer;
        outline: none;
        right: 8px;
        top: 50%;
        background-repeat: no-repeat;
        background-position: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index: 100;
        &:active{
            -webkit-transform: translateY(-50%) scale(0.8);
            transform: translateY(-50%) scale(0.8);
        }
        &.slick-next{
            background-image: url(../images/next_post.svg);
            margin-top: 10px
        }
        &.slick-prev{
            background-image: url(../images/prev_post.svg);
            margin-top: -10px
        }
    }
}
@media screen and (max-width: 1400px){
    .post__information{
        width: 600px;
    }
}
@include media-breakpoint-down(lg) {
    .map__section {
        .map__zoom{
            right: 0;
        }
        .logo__block{
            right: 15%;
        }
    }
    .post__information{
        width: 500px;
    }
    .posts__slider{
        width: 380px;
        .slide{
            width: 340px!important;
            .post__item{
                width: 332px;
            }
        }
    }
    .posts__block {
        width: 340px;
        .active__post{
            width: 440px;
        }
    }
}
@include media-breakpoint-down(md) {
    .posts__block{
        width: 50%;
        .active__post{
            width: 100%;
        }
        .posts__slider{
            width: 100%;
            .slick-arrow{
                right: 60px;
            }
            .slide{
                width: 100%!important;
                padding-right: 90px;
                .post__item{
                    width: 96%;
                }
                &.slick-current{
                    .post__item{
                        &::before{
                            background-color: #FFBF37;
                        }
                    }
                }
            }
        }
    }
    .post__information{
        width: 50%;
        height: 100%;
        opacity: 1;
        visibility: visible;
        /*top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);*/
        bottom: inherit;
        left: inherit;
        right: 0;
        .detail__slider{
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            .slick-slide{
                height: auto;
            }
        }
    }
    .posts__slider .slide .post__item{
        width: 100%;
    }
}
@include media-breakpoint-down(sm) {
    .post__information{
        width: 100%;
        .detail__slider{
            top: 55vh;
            height: 45vh;
            -webkit-transform: inherit;
            transform: inherit;
        }
        .slide{
            padding-left: 0;
            .information{
                padding-left: 0;
                padding-top: 15px;
            }
        }
        h3{
            font-size: 24px;
            margin-bottom: 15px;
        }
        p{
            font-size: 16px;
            margin-bottom: 20px;
        }
    }
    .posts__block{
        width: 100%;
        height: 55%;
        top: 0;
        -webkit-transform: inherit;
                transform: inherit;
        left: 0;
        .active__post{
            display: none;
        }
        .posts__slider{
            .slide{
                padding-right: 0;
                .post__item{
                    width: 100%;
                    height: 55vh;
                    padding: 0;
                    margin: 0;
                    &::before,
                    &::after{
                        display: none;
                    }
                    .title{
                        display: none;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(xs) {
    .map__section{
        margin-bottom: 30px;
    }
}