.post__preview{
    width: 100%;
    float: left;
    height: 720px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    .video__block{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        &.show__video{
            z-index: 11;
        }
        iframe{
            width: 100%;
            height: 100%;
        }
    }
    .video {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 1;
        .play__icon {
            width: 68px;
            height: 68px;
            border-radius: 50%;
            background-color: #FFBF37;
            display: block;
            position: absolute;
            right: 30%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            cursor: pointer;
            &:hover{
                animation: pulse 2s infinite;
            }
            &::before {
                content: '';
                width: 24px;
                height: 24px;
                display: block;
                position: absolute;
                left: 54%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                background-image: url(../images/play_btn.svg);
                background-position: center;
                background-repeat: no-repeat;
                z-index: 10;
            }
        }
    }
    .content {
        width: 100%;
        max-width: 720px;
        position: absolute;
        bottom: 50px;
        left: 50px;
        z-index: 10;
        h2 {
            font-weight: 600;
            line-height: normal;
            font-size: 36px;
            color: #FFFFFF;
        }
        p {
            font-style: normal;
            font-weight: 300;
            line-height: 27px;
            font-size: 18px;
            color: #FFFFFF;
        }
    }
    .more__posts{
        bottom: 0;
        .text{
            margin-bottom: 45px;
        }
    }
}
.additional__information__bottom{
    width: 100%;
    float: left;
    text-align: right;
    margin-top: 15px;
    z-index: 1;
    .date{
        width: 100%;
        float: left;
        font-weight: normal;
        line-height: normal;
        font-size: 14px;
        color: $black;
        border-bottom: 1px solid #ededed;
        padding-bottom: 11px;
        margin-bottom: 24px;
    }
    .sharing{
        width: 160px;
        float: left;
        margin-bottom: 54px;
        text-align: left;
        .text{
            font-weight: 600;
            line-height: normal;
            font-size: 14px;
            color: $black;
        }
        ul{
            padding: 0;
            margin: 12px 0 0;
            list-style: none;
            li{
                display: inline-block;
                margin-right: 15px;
                span,
                a{
                    display: block;
                    cursor: pointer;
                    -webkit-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                    &:hover{
                        -webkit-filter: grayscale(100%);
                        filter: grayscale(100%);
                        text-decoration: none;
                    }
                }
                span.twitter{
                    width: 18px;
                    height: 15px;
                    background-image: url(../images/twitter_yellow.svg);
                }
                span.facebook{
                    width: 10px;
                    height: 18px;
                    background-image: url(../images/facebook_yellow.svg);
                }
                a.instagram{
                    width: 18px;
                    height: 18px;
                    background-image: url(../images/instagram_yellow.svg);
                }
            }
        }
    }
    .partners{
        float: right;
        .text{
            font-weight: 600;
            line-height: normal;
            font-size: 14px;
            text-align: right;
            color: $black;
        }
        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            li{
                float: left;
                margin: 15px 0;
                clear: both;
                a{
                    display: block;
                    img{
                        width: 100%;
                        max-width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}
.post__content{
    width: 100%;
    float: left;
    margin: 60px 0;
    position: relative;
    .additional__information{
        width: 100%;
        max-width: 160px;
        float: left;
        text-align: right;
        margin-top: 5px;
        left: 20%;
        position: absolute;
        z-index: 1;
        &.fixed{
            position: fixed;
            top: 50px;
            margin-left: 18px;
            &.absolute{
                position: absolute;
                bottom: 0;
                top: inherit;
                margin-left: 0;
            }
        }

        .date{
            width: 100%;
            float: left;
            font-weight: normal;
            line-height: normal;
            font-size: 14px;
            color: $black;
            border-bottom: 1px solid #ededed;
            padding-bottom: 11px;
            margin-bottom: 24px;
        }
        .sharing{
            width: 160px;
            float: left;
            margin-bottom: 54px;
            .text{
                font-weight: 600;
                line-height: normal;
                font-size: 14px;
                color: $black;
            }
            ul{
                padding: 0;
                margin: 12px 0 0;
                list-style: none;
                li{
                    display: inline-block;
                    margin-left: 15px;
                    span,
                    a{
                        display: block;
                        cursor: pointer;
                        -webkit-transition: all 0.3s ease;
                        transition: all 0.3s ease;
                        &:hover{
                            -webkit-filter: grayscale(100%);
                            filter: grayscale(100%);
                            text-decoration: none;
                        }
                    }
                    span.twitter{
                        width: 18px;
                        height: 15px;
                        background-image: url(../images/twitter_yellow.svg);
                    }
                    span.facebook{
                        width: 10px;
                        height: 18px;
                        background-image: url(../images/facebook_yellow.svg);
                    }
                    a.instagram{
                        width: 18px;
                        height: 18px;
                        background-image: url(../images/instagram_yellow.svg);
                    }
                }
            }
        }
        .partners{
            width: 100%;
            float: left;
            .text{
                font-weight: 600;
                line-height: normal;
                font-size: 14px;
                text-align: right;
                color: $black;
            }
            ul{
                padding: 0;
                margin: 0;
                list-style: none;
                li{
                    width: 100%;
                    float: left;
                    margin: 15px 0;
                    a{
                        display: block;
                        img{
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }
    .content{
        width: 100%;
        float: left;
        position: relative;
        z-index: 1;
        p{
            color: $grey;
            font-style: normal;
            font-weight: 300;
            line-height: 27px;
            font-size: 18px;
            margin-bottom: 13px;
        }
        img{
            width: 100%;
            height: auto;
            margin-top: 20px;
            margin-bottom: 40px;
        }
        .slider__wrapper{
            width: 100%;
            height: inherit;
            min-height: inherit;
            float: left;
            margin-bottom: 35px;
            .slick-slide{
                height: inherit;
            }
            img{
                margin-bottom: 0;
                margin-top: 0;
            }
            .slide__nav{
                width: 32px;
                height: 30px;
                top: 50%;
                margin-top: -15px;
                .icon{
                    width: 8px;
                    height: 14px;
                }
                .border__top,
                .border__bottom{
                    height: 15px;
                    &::before,
                    &::after{
                        width: 15px;
                        height: 15px;
                        opacity: 0.2;
                    }
                }
                &.prev__slide{
                    left: 15px;
                }
                &.next__slide{
                    right: 15px;
                }
            }
        }
        
        blockquote{
            width: 100%;
            float: left;
            margin: 30px 0;
            padding: 34px 0 0 50px;
            position: relative;
            p{
                font-style: normal;
                font-weight: 300;
                line-height: 36px;
                font-size: 24px;
                color: #505050;
            }
            &::before{
                content: '';
                width: 50px;
                height: 50px;
                display: block;
                border-top: 2px solid $yellow;
                border-left: 2px solid $yellow;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}
.video__wrapper{
    width: 100%;
    float: left;
    height: 800px;
    margin: 20px 0;
    &.show__video{
        .image__preview {
            .video__block{
                opacity: 1;
                visibility: visible;
            }
        }
        .play__icon {
            opacity: 0;
            visibility: hidden;
        }
    }
    .image__preview{
        width: 100%;
        height: 100%;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .video__block,
        iframe{
            width: 100%;
            height: 100%;
        }
        .video__block{
            visibility: hidden;
            opacity: 0;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            .stop__icon{
                cursor: pointer;
            }
        }
        .play__icon {
            width: 68px;
            height: 68px;
            border-radius: 50%;
            background-color: #FFBF37;
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            cursor: pointer;
            &:hover{
                animation: pulse 2s infinite;
            }
            &::before {
                content: '';
                width: 24px;
                height: 24px;
                display: block;
                position: absolute;
                left: 54%;
                top: 50%;
                -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                background-image: url(../images/play_btn.svg);
                background-position: center;
                background-repeat: no-repeat;
                z-index: 10;
            }
        }
    }
}
.posts__navigation{
    width: 100%;
    height: 150px;
    float: left;
    position: relative;
    margin: 50px 0 10px;
    .post{
        width: 49.5%;
        height: 100%;
        position: absolute;
        top: 0;
        background-color: #F7F7F7;
        h4{
            color: $black;
            -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
        }
        .thumb{
            width: 165px;
            height: 150px;
            position: absolute;
            top: 0;
            background-position: center;
            background-repeat: no-repeat;
        }
        &.prev{
            left: 0;
            text-align: left;
            .thumb{
                left: 0;
            }
            .title{
                left: 195px;
            }
        }
        &.next{
            right: 0;
            text-align: right;
            .thumb{
                right: 0;
            }
            .title{
                right: 195px;
            }
        }
        &:hover{
            background-color: $yellow;
            text-decoration: none;
            h4{
                color: #fff;
            }
        }
        .title{
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}
.subscribe__block{
    width: 100%;
    height: 190px;
    float: left;
    position: relative;
    // margin-top: 200px;
    margin-bottom: 30px;
    .content{
        width: auto;
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 0;
        h4{
            width: 100%;
            max-width: 855px;
            float: left;
            padding-right: 290px;
        }
        .link{
            position: absolute;
            right: 0;
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            a{
                .text{
                    color: $black!important;
                }
            }
        }
    }
    &.white{
        background-color: #fff;
    }
    &.yellow{
        background-color: $yellow;
    }
}
@media screen and (max-width: 1900px){
    .post__content .additional__information{
        left: 17%;
        &.fixed{
            margin-left: 20px;
        }
    }
}
@media screen and (max-width: 1700px){
    .post__content .additional__information{
        left: 12%;
        &.fixed{
            margin-left: 23px;
        }
    }
}
@media screen and (max-width: 1500px){
    .post__content .additional__information{
        left: 8%;
        &.fixed{
            margin-left: 25px;
        }
    }
    .subscribe__block.white,
    .subscribe__block.yellow{
        .content{
            width: 70%;
        }
    }
}
@media screen and (max-width: 1400px){
    .post__content .additional__information{
        left: 5%;
        &.fixed{
            margin-left: 27px;
        }
    }
}
@media screen and (max-width: 1300px){
    .post__content .additional__information{
        left: 0;
        &.fixed{
            margin-left: 30px;
        }
    }
}
@include media-breakpoint-down(lg) {
    .post__preview{
        height: 600px;
        .video .play__icon{
            right: inherit;
            left: 50%;
        }
    }
    .post__content {
        margin: 60px 0 100px;
        .additional__information{
            position: absolute;
            max-width: 100%;
            width: auto;
            left: 10%;
            bottom: -10px;
            margin-top: 20px;
            -webkit-transform: translateY(100%);
            transform: translateY(100%);
            .date{
                width: auto;
                margin-bottom: 0;
            }
            .sharing{
                width: auto;
                margin-bottom: 0;
                margin-left: 20px;
            }
            .partners{
                width: auto;
                margin-left: 20px;
                text-align: left;
                .text{
                    text-align: left;
                }
                ul{
                    li{
                        width: auto;
                        float: none;
                        display: inline-block;
                        margin: 5px 10px;
                    }
                }
            }
            &.fixed{
                margin-left: 0;
                position: static;

            }
        }
    }
    .posts__navigation .post h4{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 0;
    }
    .subscribe__block.white,
    .subscribe__block.yellow{
        .content{
            width: 80%;
        }
    }
}
@include media-breakpoint-down(md) {
    .video__wrapper{
        height: 500px;
    }
    .posts__navigation .post {
        .thumb{
            display: none;
        }
        h4{
            font-size: 20px;
            line-height: 26px;
            margin-bottom: 0;
        }
        &.prev .title{
            left: 0;
            right: 0;
            padding: 0 15px;
        }
        &.next .title{
            left: 0;
            right: 0;
            padding: 0 15px;
        }
    }
    .subscribe__block.white,
    .subscribe__block.yellow{
        .content{
            width: 100%;
            h4{
                font-size: 20px;
                line-height: 26px;
            }
        }
    }
    .subscribe__block.yellow{
        .content{
            h4{
                padding-left: 20px;
            }
            .link{
                right: 20px;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .video__wrapper{
        height: 400px;
    }
    .post__content .content {
        blockquote{
            line-height: 30px;
            font-size: 18px;
            padding: 20px 0 0 25px;
        }
        img{
            margin-top: 10px;
            margin-bottom: 20px;
        }
        p{
            font-size: 16px;
            line-height: 24px;
        }
    }
    .posts__navigation .post {
        h4{
            font-size: 18px;
            line-height: 22px;
        }
    }
    .post__preview {
        height: 500px;
        .content{
            max-width: 100%;
            left: 0;
            padding: 0 20px;
            p{
                display: none;
            }
        }
    }
}
@include media-breakpoint-down(xs) {
    .additional__information__bottom {
        .sharing{
            width: 100%;
            margin-bottom: 20px;
        }
        .partners{
            float: left;
            text-align: left;
        }
    }
    .posts__navigation {
        height: 110px;
        .post {
            h4{
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
    .post__preview .content{
        h2{
            font-size: 28px;
        }
    }
    .subscribe__block.white,
    .subscribe__block.yellow{
        .content{
            width: 100%;
            h4{
                font-size: 18px;
                line-height: 24px;
                padding-right: 0;
                margin-bottom: 10px;
            }
            .link{
                width: 100%;
                float: left;
                position: static;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                a{
                    width: 100%;
                }
            }
        }
    }
    .subscribe__block.yellow{
        .content{
            h4{
                padding-right: 20px;
            }
            .link{
                padding: 0 20px;
            }
        }
    }
    .video__wrapper{
        height: 300px;
    }
}
