.team__member{
    width: 100%;
    float: left;
    margin-top: 12px;
    margin-bottom: 150px;
    position: relative;
    &.d-block{
        margin-bottom: 70px;
    }
    .image{
        width: 100%;
        height: 530px;
        position: relative;
        float: left;
        box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.15);
        .img{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-size: cover;
            background-position: center;
            webkit-transition: all 1s ease;
            transition: all 1s ease;
            &.image__1{
                opacity: 1;
                visibility: visible;
            }
            &.image__2{
                opacity: 0;
                visibility: hidden;
            }
        }
        &:hover{
            .img.image__1{
                opacity: 0;
                visibility: hidden;
            }
            .img.image__2{
                opacity: 1;
                visibility: visible;
            }
        }
    }
    .name{
        width: 100%;
        position: relative;
        top: 45%;
        h4{
            margin-bottom: 0;
            line-height: 30px;
        }
        p{
            font-weight: 300;
            line-height: 27px;
            font-size: 18px;
            color: $grey;
            margin-bottom: 0;
        }
        &.margin__top{
            margin-top: 20px;
            top: 0;
        }
    }
}
.contact__image{
    width: 700px;
    margin-bottom: 200px;
}
.contact__form{
    width: 100%;
    float: left;
    padding: 50px 30px 40px;
    background-color: #fff;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.05);
    margin: 0 0 0 0;
    position: absolute;
}
.form__row{
    width: 100%;
    float: left;
    margin-bottom: 25px;
}
.form__field{
    width: 100%;
    float: left;
    border: none;
    border-bottom: 1px solid rgba(96,96,96,0.1);
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
    font-size: 16px;
    color: #505050;
    background-color: transparent;
}
textarea.form__field{
    height: 126px;
    resize: none;
}
@include media-breakpoint-down(lg) {
    .about__us.padding{
        padding: 100px 0 150px;
    }
}
@include media-breakpoint-down(md) {
    .team__member {
        .image{
            height: 400px;
        }
        .name{
            top: 20%;
        }
    }
    .contact__image{
        width: 500px;
    }
}
@include media-breakpoint-down(xs) {
    .team__member {
        .image{
            height: 350px;
        }
        .name {
            top: 20%;
            h4{
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 10px;
            }
            p{
                font-size: 15px;
                line-height: 19px;
            }
        }
    }
    .contact__image{
        width: 300px;
    }
    .contact__form{
        width: 300px;
        margin: -120px 0 0;
        padding: 30px 20px 30px;
        right: 0;
    }
}